Cython==3.0.2
matplotlib==3.4.1
pandarallel==1.5.2
pandas==2.0.0
pandastable==0.12.2.post1
plotly==4.14.3
python-Levenshtein==0.12.2
pybind11==2.11.1
ranky==0.2.1
#scikit-learn==0.24.2
scikit-survival==0.22.1
statsmodels==0.14.0
urllib3==1.26.4
xgboost==1.4.2
xlrd==2.0.1
zipp==3.6.0
